name: CI

on:
  push:
    branches:
      - "**"
    tags-ignore:
      - "**"
  pull_request:

jobs:
  tests:
    name: Lint, build and test
    runs-on: ubuntu-latest
    timeout-minutes: 15

    strategy:
      matrix:
        node: [10, 12, 14, 15]

    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node }}
      - name: NPM install, lint and build
        run: |
          npm ci
          npm run lint
          npm run build
      - name: Run tests
        run: |
          npm run test
